<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link th:href="@{https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/> 
		<link rel="stylesheet"  href="../../css/style.css"/>
		<title>User details</title>
</head>
<body>
    <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->
    <a role="button" class="btn btn-primary"  href="/web/users">&lt;-Go Back</a>
	<div class="table-responsive">
		<table id="usrdetails" class="table table-bordered table-hover">
		<tbody>		
			<tr><td id="tdf"><b>Username   :</b></td><td> <span th:text="${user.username}"></span></td></tr>
			<tr><td id="tdf"><b>FirstName  :</b></td><td> <span th:text="${user.name}"></span></td></tr>
			<tr><td id="tdf"><b>Password   :</b></td><td> <span th:text="${user.password}"></span></td></tr>
			<tr><td id="tdf"><b>Token      :</b></td><td> <span th:text="${user.token}"></span></td></tr>
			<tr><td id="tdf"><b>NFC        :</b> </td><td><span th:text="${user.nfccode}"></span></td></tr>
			<tr><td id="tdf"><b>Email      :</b></td><td> <span th:text="${user.email}"></span></td></tr>
			<tr><td id="tdf"><b>Number     :</b></td><td> <span th:text="${user.number}"></span></td></tr>
			<tr><td id="tdf"><b>Curent Room:</b></td><td> <span th:text="${user.curentRoom}"></span></td></tr>
			<tr><td colspan="2"  align="center"><a  id="editt"  role="button" class="btn btn-primary" href="#editusr" data-toggle="collapse">edit</a></td></tr>
		</tbody>
		</table>
	</div>
		<div id="editusr" class="collapse">
				<form class="form-style-4" role="form" th:object="${user}" th:action="${(#mvc.url('UC#userUpdate').arg(0,user.username)).build()}" method="post">
					<div class="form-group">
				    	<label for="room">Username:</label>
				    	<input type="text" class="form-control" th:field="*{username}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Name:</label>
				    	<input type="text" class="form-control" th:field="*{name}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Password:</label>
				    	<input type="text" class="form-control" th:field="*{password}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Token:</label>
				    	<input type="text" class="form-control" th:field="*{token}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">CardID:</label>
				    	<input type="text" class="form-control" th:field="*{nfccode}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Email:</label>
				    	<input type="text" class="form-control" th:field="*{email}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Number:</label>
				    	<input type="text" class="form-control" th:field="*{number}"/>
				  	</div>
			  		<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>