<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Users</title>
		<link th:href="@{https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/> 
		<link rel="stylesheet"  href="../css/style.css"/>
</head>
<body>
    <!--/*/ <th:block th:include="header :: header"></th:block> /*/-->
    <div class="table-responsive">
		<table class="table table-bordered table-hover"> 
			<tr><th>Firstname</th>
    			<th>Lastname</th>
    			<th>Actions</th>
    		</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.name}">
				</td>
				<td th:text="${user.lastname}">
				</td>
				<td>
				<a role="button" class="btn btn-primary" href="#" th:href="${(#mvc.url('UC#userDetails').arg(0,user.username)).build()}">details</a>
				<a role="button" class="btn btn-primary" href="#" th:href="${(#mvc.url('UC#userDetails').arg(0,user.username)).build()}">edit</a>
				<a onclick="return confirm('Are you sure you want to delete this item?');" role="button" class="btn btn-warning" href="#" th:href="${(#mvc.url('UC#userDelete').arg(0,user.username)).build()}">delete</a>
				</td>
			</tr>
		</table>
		<div id="new-user"><a role="button" class="btn btn-primary" id="new-user-btn" href="#newusr" data-toggle="collapse">New User</a></div>
	</div>
		<div id="newusr" class="collapse">
				<form class="form-style-4" role="form" th:object="${user}" th:action="${(#mvc.url('UC#newUser')).build()}" method="post">
					<div class="form-group">
				    	<label for="room">Username:</label>
				    	<input type="text" class="form-control" th:field="*{username}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Name:</label>
				    	<input type="text" class="form-control" th:field="*{name}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Lastname:</label>
				    	<input type="text" class="form-control" th:field="*{lastname}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Password:</label>
				    	<input type="text" class="form-control" th:field="*{password}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Token:</label>
				    	<input type="text" class="form-control" th:field="*{token}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">CardID:</label>
				    	<input type="text" class="form-control" th:field="*{cardId}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Email:</label>
				    	<input type="text" class="form-control" th:field="*{email}"/>
				  	</div>
				  	<div class="form-group">
				    	<label for="pwd">Number:</label>
				    	<input type="text" class="form-control" th:field="*{number}"/>
				  	</div>
			  		<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>